<form>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Seja bem vindo!</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Aqui ajudaremos você a acompanhar seu consumo diário de água.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Informe seu peso</ion-label>
          <ion-input [(ngModel)]="user.weight" name="weight"  type="number" [required]="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Informe sua altura</ion-label>
          <ion-input [(ngModel)]="user.height" name="height" type="number" [required]="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Quantidade de água recomendada</ion-label>
          <ion-input type="number" name="recommendedQuantity" [value]="userService.calculateTotalOfMillilitersToDrink(user)" disabled="true"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col >
        <ion-button [disabled]="!user.weight || !user.height" (click)="createUser()" expand="block" size="medium">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
