.dashboard-analytics-page {
  width: 100%;
  height: 100%;
  overflow-y: scroll;


  .dashboard-analytics-title{
    margin: 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .daily-milliliters-card {
    display: flex;
    flex-direction: column;
  }
}

.goal-complete {
  color: var(--ion-color-primary);
  font-weight: 500;
}

.goal-incomplete {
  color: var(--ion-color-danger);
  font-weight: 500;
}

ion-item {
  --padding-start: 0px;
  --inner-padding-start: 8px;
}
