<ion-header>
  <ion-toolbar>
    <ion-title>setup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Seja bem vindo!</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Aqui ajudaremos você a acompanhar seu consumo diário de água.
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Peso</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col >
        <ion-item class="ion-no-padding">
          <ion-label position="floating">Altura</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-end">
      <ion-col size="3">
        <ion-button size="medium">Salvar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
