<ion-header>
  <ion-toolbar>
    <ion-title>Página Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content" [style.overflow-y]="'hidden'">
    <div *ngIf="selectedPage === 'drink_page'">
      <app-dashboard-drink-reminder></app-dashboard-drink-reminder>
    </div>
    <div *ngIf="selectedPage === 'analytics_page'">
      <app-dashboard-analytics></app-dashboard-analytics>
    </div>
    <div *ngIf="selectedPage === 'person_page'">
      <app-dashboard-person></app-dashboard-person>
    </div>
  </div>

  <div class="actions">
    <ion-button (click)="selectedPage = 'drink_page'" type="button" fill="clear" class="ion-button"  size="large">
      <ion-icon  name="water"></ion-icon>
    </ion-button>
    <ion-button  (click)="selectedPage = 'analytics_page'" type="button" fill="clear" class="ion-button" size="large">
      <ion-icon name="analytics"></ion-icon>
    </ion-button>
    <ion-button  (click)="selectedPage = 'person_page'" type="button" fill="clear" class="ion-button" size="large">
      <ion-icon  name="person"></ion-icon>
    </ion-button>
  </div>
</ion-content>
