<ion-header >
  <ion-toolbar>
    <ion-title>Página Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content" [style.overflow-y]="'hidden'">
    <router-outlet></router-outlet>
  </div>

  <div class="actions">
    <ion-button [routerLink]="['/dashboard/dashboard-components/drink-reminder']" type="button" fill="clear" class="ion-button"  size="large">
      <ion-icon  name="water"></ion-icon>
    </ion-button>
    <ion-button [routerLink]="['/dashboard/dashboard-components/analytics']"   type="button" fill="clear" class="ion-button" size="large">
      <ion-icon name="analytics"></ion-icon>
    </ion-button>
    <ion-button  [routerLink]="['/dashboard/dashboard-components/user']"  type="button" fill="clear" class="ion-button" size="large">
      <ion-icon name="settings"></ion-icon>
    </ion-button>
  </div>
</ion-content>
