<ion-header>
  <ion-toolbar>
    <ion-title>Página Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">

  </div>


  <div class="actions">
    <ion-button type="button" fill="clear" class="ion-button"  size="large">
      <ion-icon  name="water"></ion-icon>
    </ion-button>
    <ion-button type="button" fill="clear" class="ion-button" size="large">
      <ion-icon name="analytics"></ion-icon>
    </ion-button>
    <ion-button type="button" fill="clear" class="ion-button" size="large">
      <ion-icon  name="person"></ion-icon>
    </ion-button>
  </div>
</ion-content>
